@page "/"
@model Orbitarium_Display_API.Models.DisplayData

@{
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Orbiarium Data</title>
        <link href="@Url.Content("~/css/normalize.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css"/>
    </head>
    <body>
    <h1>Display Data</h1>

    @if (ViewBag.Valid)
    {
        <div class="grid-horizontal">
            <section>@ViewBag.PopulationUnderWater</section>
            <section>@ViewBag.CO2ppm</section>
            <section>@ViewBag.TemperatureC</section>
            <section>@ViewBag.Year</section>
            <section>@ViewBag.SeaLevel</section>
        </div>
    }
    else
    {
        <h2>No data</h2>
    }
    </body>
</html>