@page "/"
@model Orbitarium_Display_API.Models.DisplayData

@{
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Orbiarium Data</title>
        <link href="@Url.Content("~/css/normalize.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/css/graph.css")" rel="stylesheet" type="text/css"/>
        
        <script src="@Url.Content("~/js/graph.js")"></script>
        <script src="@Url.Content("~/js/index.js")"></script>
    </head>
    <body>
    <h1>Display Data</h1>

    @if (ViewBag.Valid)
    {
        <div class="grid-horizontal">
            <section id="year">
                <span class="d-block section-value t-center">
                    @ViewBag.Year AD
                </span>
            </section>
            <section id="population-under-water">
                <span class="d-block section-value t-center">
                    @ViewBag.PopulationUnderWater
                </span>
            </section>
            <section  id="temperature">
                <span class="d-block section-value t-center">
                    @ViewBag.TemperatureC
                </span>
            </section>
            <section id="co2">
                <span class="d-block section-value t-center">
                    @ViewBag.CO2ppm
                </span>
            </section>
            <section id="sealevel">
                <span class="d-block section-value t-center">
                    @ViewBag.SeaLevel
                </span>
            </section>
        </div>
        
    }
    else
    {
        <h2>No data</h2>
    }
    </body>
</html>