@page "/"
@model Orbitarium_Display_API.Models.DisplayData

@{
    
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Orbiarium Data</title>
        <link href="@Url.Content("~/css/normalize.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/css/graph.css")" rel="stylesheet" type="text/css"/>
        
        <script src="@Url.Content("~/js/graph.js")"></script>
        <script src="@Url.Content("~/js/index.js")"></script>
    </head>
<body>
<div class="status-bar">
    <p class="error t-center d-none">Cannot fetch data from API</p>
</div>
<div class="grid-horizontal">
    <section id="year">
        <img src="@Url.Content("~/img/ZHAW_Logo.svg.png")" alt="Logo ZHAW"/>
        <span class="d-block section-value t-center">Year</span>
    </section>
    <section class="scale-on-hover" id="population-under-water">
    </section>
    <section class="scale-on-hover" id="temperature">
    </section>
    <section class="scale-on-hover" id="co2">
    </section>
    <section class="scale-on-hover" id="sealevel">
    </section>
</div>
</body>
</html>